body {
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.container img {
  margin-top: 100px;
  max-height: 400px; }

nav.navbar {
  background-color: white !important;
  height: 80px !important; }
