ul#email
    margin-top: 20px

#email-input
    min-width: 250px !important
    border-radius: 0px !important

.btn-alert
    background-color: #f2663a

#submit-email
    color: white
    text-transform: uppercase
    border-radius: 0px !important
